<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEmpleadoServlet</servlet-name>
        <servlet-class>controllers.RegistrarEmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServicioServlet</servlet-name>
        <servlet-class>controllers.RegistrarServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServicioServlet</servlet-name>
        <servlet-class>controllers.EliminarServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarServicioServlet</servlet-name>
        <servlet-class>controllers.ModificarServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <servlet-class>controllers.RegistrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarImagenServicioServlet</servlet-name>
        <servlet-class>controllers.EliminarImagenServicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAdminServlet</servlet-name>
        <servlet-class>controllers.RegistrarAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarHabitacionServlet</servlet-name>
        <servlet-class>controllers.RegistrarHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarImagenHabitacionServlet</servlet-name>
        <servlet-class>controllers.EliminarImagenHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarHabitacionServlet</servlet-name>
        <servlet-class>controllers.EliminarHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarHabitacionServlet</servlet-name>
        <servlet-class>controllers.ActualizarHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEmpleadoServlet</servlet-name>
        <servlet-class>controllers.ModificarEmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>controllers.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarioServlet</servlet-name>
        <servlet-class>controllers.ModificarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarClaveUsuarioServlet</servlet-name>
        <servlet-class>controllers.ModificarClaveUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarServlet</servlet-name>
        <servlet-class>controllers.ReservarServlet</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>RecuperarClave</servlet-name>
       <servlet-class>controllers.RecuperarClaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEmpleadoServlet</servlet-name>
        <url-pattern>/RegistrarEmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServicioServlet</servlet-name>
        <url-pattern>/RegistrarServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServicioServlet</servlet-name>
        <url-pattern>/EliminarServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarServicioServlet</servlet-name>
        <url-pattern>/ModificarServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <url-pattern>/RegistrarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarImagenServicioServlet</servlet-name>
        <url-pattern>/EliminarImagenServicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAdminServlet</servlet-name>
        <url-pattern>/RegistrarAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarHabitacionServlet</servlet-name>
        <url-pattern>/RegistrarHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarImagenHabitacionServlet</servlet-name>
        <url-pattern>/EliminarImagenHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarHabitacionServlet</servlet-name>
        <url-pattern>/EliminarHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarHabitacionServlet</servlet-name>
        <url-pattern>/ActualizarHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEmpleadoServlet</servlet-name>
        <url-pattern>/ModificarEmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/EliminarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarioServlet</servlet-name>
        <url-pattern>/ModificarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarClaveUsuarioServlet</servlet-name>
        <url-pattern>/ModificarClaveUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarServlet</servlet-name>
        <url-pattern>/ReservarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
       <servlet-name>RecuperarClave</servlet-name>
       <url-pattern>/RecuperarClaveServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
